/* src/App.css */
.app-container {
  
  display: flex;
  background-color: rgb(255, 211, 141);
}

.menu-container {
  
  width: 20%;
  background-color: #f0f0f0;
  padding: 10px;
}

.content-container {
  width: 80%;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  cursor: pointer;
}
