body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.table {
  width: 100%;
  background-color: white;
  color: black;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* overflow-y: auto kaldırıldı, tablo yatay kaydırma için */
  border-radius: 15px;
}

.table thead {
  border-radius: 30px;
}

.list {
  text-align: center;
  font-size: 18px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
}

.list:hover {
  background-color: #c2c2c24d;
}

.table th,
.table td {
  padding: 10px;
}

.table th {
  font-size: 16px;
}

.search-inputs {
  flex-direction: row;
}

.btn-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
@media (max-width: 500px) {
  .btn-group {
    flex-direction: column; /* Ekran küçükse butonları dikey düzenle */
  }

  .btn-group .btn {
    width: 100%;
    margin-bottom: 10px; 
  }
}

.btn-group .search-button {
  order: 2;
}

.btn-group .add-button {
  order: 1; 
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table input[type='checkbox'] {
  margin-right: 5px;
  cursor: pointer;
}

.table .toggle {
  text-align: center;
}

.table .toggle svg {
  font-size: 1.5em;
  cursor: pointer;
}

.table-checkbox-right {
  text-align: center !important;
}

.table-checkbox-left {
  text-align: left;
}

.table .faded {
  color: #292222;
  text-decoration: line-through;
  background-color: #f0f0f0;
}

.table .disabled input,
.table .disabled select,
.table .disabled textarea {
  background-color: #939393;
  color: #999;
  cursor: not-allowed;
}

tr:hover {
  text-align: center;
  transition: background-color 0.2s, color 0.3s;
}

#table-column:hover {
  border: 1px solid;
  background-color: #bcb8b8;
  transition: background-color 0.2s, color 0.3s;
}

@keyframes slideInDown {
  from {
    transform: translateY(-50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.search-inputs {
  display: none;
}

.search-inputs.visible {
  display: flex;
  animation: slideInDown 0.5s ease;
}

.modal.show .modal-dialog {
  animation: slideInDown 0.1s ease-out;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-color: #140b0b;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 500px;
}

.modal-content {
  padding: 20px;
}

@media (max-width: 768px) {
  .table {
    font-size: 14px; /* Yazı boyutunu küçült */
    overflow-y: scroll; /* Tabloyu yatay kaydırılabilir yap */
    display: block; /* Tabloyu blok eleman olarak göster */
    white-space: nowrap; /* Satırları sarmayı önle */
  }
}

@media (max-width: 480px) {
  .table th,
  .table td {
    font-size: 12px; /* Daha küçük yazı boyutu */
  }
}
