/* Genel Ayarlar */
body {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Tablo Stil Ayarları */
.table {
  width: 100%;
  background-color: white;
  color: black;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow-x: auto; /* Yatay kaydırma çubuğu */
  white-space: nowrap; /* İçeriğin satır kaydırmasını engellemek için */
}

.table thead {
  border-radius: 30px;
}

.table th,
.table td {
  padding: 12px 15px;
  text-align: center;
  border-bottom: 1px solid #c2c2c2;
}

.table th {
  background-color: #e0dede;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table input[type='checkbox'] {
  margin-right: 5px;
  cursor: pointer;
}

.table .toggle {
  text-align: center;
}

.table .toggle svg {
  font-size: 1.5em;
  cursor: pointer;
}

.table-checkbox-right {
  text-align: center !important;
}

.table-checkbox-left {
  text-align: left;
}

.table .faded {
  color: #292222;
  text-decoration: line-through;
  background-color: #f0f0f0;
}

.table .disabled input,
.table .disabled select,
.table .disabled textarea {
  background-color: #939393;
  color: #999;
  cursor: not-allowed;
}

tr:hover {
  text-align: center;
  transition: background-color 0.2s, color 0.3s;
}

#table-column:hover {
  border: 1px solid;
  background-color: #bcb8b8;
  transition: background-color 0.2s, color 0.3s;
}

/* Arama ve Kategori Konteyneri */
.search-container {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container .search,
.search-container .select {
  flex: 1;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #eaeaea;
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
  }

  .search-container .search,
  .search-container .select {
    width: 100%;
  }

  .table {
    font-size: 15px;
    overflow-x: auto; /* Yatay kaydırma çubuğu */
    margin-top: 20px; /* Arama çubuğu ile tablo arasında boşluk */
  }
}

@media (max-width: 480px) {
  .table th,
  .table td {
    font-size: 12px;
  }

  .search-container .search,
  .search-container .select {
    height: 40px;
  }
}
